---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="À Propos | Alexandre Vigon" description="">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="À Propos"
				tagline="Découvrez mon parcours et mes compétences"
			>
				<img class="about_img"
					width="1553"
					height="873"
					src="/assets/setup.jpg"
					alt="Developer setup"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						Mon parcours professionnel a débuté avec 5 années d'expérience en tant que technicien support au sein de l'armée, où j'ai développé de solides compétences en résolution de problèmes techniques. Par la suite, j'ai suivi une formation de développeur web à l'école Doranco, qui m'a permis d'acquérir des connaissances approfondies dans ce domaine en constante évolution.
					<p>
						Au fil de mon parcours, j'ai eu l'opportunité de travailler sur divers projets pour des clients, ce qui m'a permis de consolider mes compétences et d'acquérir une précieuse expérience pratique. J'ai également développé une capacité autodidacte, en me formant de manière autonome sur certaines technologies.
					</p>
					<p>
						En dehors du domaine professionnel, j'ai une passion pour les voyages, qui me permettent de découvrir de nouvelles cultures et d'élargir mes horizons. Je trouve également du plaisir dans les jeux vidéos, qui sont pour moi une source d'évasion et de divertissement.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Diplômes</h2>
				<div class="content">
					<p>BAC+2 Développeur Web et Web Mobile (RNCP)</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>
						<img src="../assets/html.png" alt="">
						<img src="../assets/css.png" alt="">
						<img src="../assets/js.png" alt="">
						<img src="../assets/mysql.png" alt="">
						<img src="../assets/symfony.png" alt="">
						<img src="../assets/react.png" alt="">
						<img src="../assets/wordpress.png" alt="">
						<img src="../assets/photoshop.png" alt="">
						<img src="../assets/xd.png" alt="">
					</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	.about_img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
